In [13]:
import pandas as pd

In [14]:
df1 = pd.read_json("./data/cnn_dailymail/train.json")
df2 = pd.read_json("./data/cnn_dailymail/val.json")
df3 = pd.read_json("./data/cnn_dailymail/test.json")

In [15]:
df2.head(1)

,id,article,highlights,labels
0,61df4979ac5fcc2b71be46ed6fe5a46ce7f071c3,"Sally Forrest, an actress-dancer who graced th...","Sally Forrest, an actress-dancer who graced th...","[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [16]:
df = pd.concat([df1, df2, df3])
df.shape

(311971, 4)

In [17]:
df = df.reset_index(drop=True)

In [18]:
df.to_json("data/cnn_dailymail.json")

In [19]:
df.head(2)

,id,article,highlights,labels
0,0001d1afc246a7964130f43ae940af6bc6c57f01,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0]"
1,0002095e55fcbd3a2f366d9bf92a95433dc305ef,(CNN) -- Ralph Mata was an internal affairs li...,Criminal complaint: Cop used his role to help ...,"[1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [20]:
df.iloc[:df1.shape[0]].shape

(287113, 4)

In [21]:
df.iloc[:df1.shape[0]].to_json("./data/cnn_dailymail/train.json")
df.iloc[df1.shape[0]:df1.shape[0]+df2.shape[0]].to_json("./data/cnn_dailymail/val.json")
df.iloc[df1.shape[0]+df2.shape[0]:].to_json("./data/cnn_dailymail/test.json")

In [22]:
df1 = pd.read_json("./data/cnn_dailymail/train.json")
df2 = pd.read_json("./data/cnn_dailymail/val.json")
df3 = pd.read_json("./data/cnn_dailymail/test.json")

In [26]:
df3.head(10)

,id,article,highlights,labels
300481,92c514c913c0bdfe25341af9fd72b29db544099b,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...,"[1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0]"
300482,2003841c7dc0e7c5b1a248f9cd536d727f27a45a,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...,"[1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]"
300483,91b7d2311527f5c2b63a65ca98d21d9c92485149,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...,"[1, 1, 0, 1, 0, 0]"
300484,caabf9cbdf96eb1410295a673e953d304391bfbb,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...,"[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]"
300485,3da746a7d9afcaa659088c8366ef6347fe6b53ea,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6...","[1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
300486,5ed5e3fbd235a8046cd3b87f4a1aa51b856c8ec3,This is the moment that a crew of firefighters...,Giant pig fell into the swimming pool at his h...,"[1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
300487,6394f51b120ceb3da5e7b53dd5167fc4cf80b514,The amount of time people spend listening to B...,Figures show that while millions still tune in...,"[1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
300488,98be9b2d558c17df8a13597195957a7c8587ddcd,"(CNN)So, you'd like a ""Full House"" reunion and...","Show will return with a one-hour special, foll...","[1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
300489,57f68638739c3a1de8d9922b389d6ded39977012,"At 11:20pm, former world champion Ken Doherty ...",Reanne Evans faced Ken Doherty in World Champi...,"[1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
300490,20778c35c19d741cc182719de336d71e1a0b228e,A gang of six men have been jailed for a total...,Gang have been jailed for a total of 31 years ...,"[1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."