In [1]:
import pandas as pd

In [2]:
df1 = pd.read_json("./data/train.json")
df2 = pd.read_json("./data/val.json")
df3 = pd.read_json("./data/test.json")

In [3]:
df = pd.concat([df1, df2, df3])
df.shape

(216480, 4)

In [4]:
df = df.reset_index(drop=True)

In [5]:
df.to_json("data/dailymail.json")

In [6]:
df.head(2)

,text,summaries,labels,own_labels
0,by daily mail reporter last updated at 11:49 a...,costs of ' air force 2 ' flight amount to over...,"[1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, ...","[1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, ..."
1,with the trademark curly hair and giant person...,jones won his 100th cap for wales during the s...,"[1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, ...","[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ..."